@import url("https://fonts.googleapis.com/css2?family=Reem+Kufi:wght@400..700&family=Ribeye&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--roboto: "Roboto", sans-serif;
	--reem-kufi: "Reem Kufi", sans-serif;
	--ribeye: "Ribeye", serif;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	width: 100%;
	/* overflow: hidden; */
}

button,
input {
	border-radius: 3px;
}

button,
a,
img,
li {
	cursor: pointer;
	text-decoration: none;
}

header ul,
.form-container,
form {
	display: flex;
	justify-content: center;
	align-items: center;
}

header, footer {
	display: flex;
	border-bottom: 1px solid #e1e1e1;
	justify-content: space-between;
	align-items: center;
	padding-left: 3rem;
}

.logo {
	font-family: var(--ribeye);
}

header ul, footer ul {
	list-style: none;
	height: 100%;
	font-family: var(--reem-kufi);
}
header ul li:first-child {
	color: #a6a6a6;
}
header .navUl{
	color: #a6a6a6;
}
header .navUl li{
	margin-left: 1rem;
}
header ul li:first-child:hover,
header .navUl li:hover {
	color: #000000;
}
header ul li:last-child, footer ul li:last-child {
	background-color: #abf6d2;
	width: 100%;
	padding: 1rem;
	margin-left: 1rem;
	color: #000;
}
header ul li:last-child:hover {
	background-color: #5cffb0;
}

.profile-icon {
	height: 2rem;
	width: 2rem;
	vertical-align: middle;
	margin: 0 0.5rem;
}

/* Form */
.form-container {
	flex-direction: column;
	width: 100%;
	min-height: 100vh;
	overflow: hidden;
}
h2 {
	font-family: var(--reem-kufi);
	font-size: 2rem;
	margin-left: -13rem;
	margin-bottom: 2rem;
}
form {
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	padding: 2rem;
	border-radius: 6px;
	flex-direction: column;
	min-width: 30%;
}
form div {
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: center;
	flex-direction: column;
	margin-bottom: 1rem;
}
form label {
	font-family: var(--roboto);
	color: #1d1d1d;
}
form input {
	border: 1px solid #bababa;
	padding: 0.7rem 1rem;
	font-size: 1rem;
	outline: none;
}
form button {
	width: 100%;
	border: none;
	padding: 0.8rem 1rem;
	font-size: 1.3rem;
	font-weight: bold;
	background-color: #abf6d2;
	transition: all 0.15s;
}
form button:hover {
	background-color: #5cffb0;
}
form p {
	margin-top: 1.5rem;
	font-family: var(--roboto);
	font-size: 0.8rem;
}
form p span {
	color: #1a68fe;
}
form p span:hover {
	text-decoration: underline;
	cursor: pointer;
}

/* Study */
.study-mode-container {
	display: flex;
	min-height: 100vh;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.study-mode {
	font-family: var(--roboto);
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.progress {
	width: 80%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 21px;
}
.progress .number {
	background-color: #ffe574;
	width: 40px;
	text-align: center;
	border-radius: 50px;
}
.progress .number:last-child {
	background-color: #7a8b7f;
	opacity: 80%;
	color: black;
}
.progress .bar {
	/* background-color: #00cd39; */
	width: 100%;
	height: 18px;
	margin: 0 0.5rem;
}
input[type="range"] {
	width: 100%;
	background-color: red;
}
.card {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: #fffae4;
	border-radius: 17px;
	width: 80%;
	text-align: center;
}
.collection-name {
	padding: 0.5rem;
}
.card .q-and-a {
	padding-top: 1rem;
	width: 100%;
	border-top: 1px solid #e1e1e1;
}
.card .question {
	font-weight: bold;
	font-size: 1.1rem;
}
.card .answer {
	text-align: center;
	margin-top: 1.5rem;
	padding: 0 3rem;
}
.card .hint {
	width: 100%;
	text-align: right;
	padding: 0.5rem;
}
.card .hint-icon {
	height: 2rem;
	width: 2rem;
}
.buttons {
	width: 80%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 1rem;
}
.buttons button {
	color: white;
	border: none;
	padding: 0.8rem 1rem;
	font-weight: 600;
}
.buttons .skip {
	margin-right: 1rem;
	background-color: #ff4500;
}
.buttons .skip:hover {
	background-color: #ff6b36;
}
.buttons .flip {
	background-color: #00c0ff;
}
.buttons .flip:hover {
	background-color: #44d0ff;
}

/* LandingPage CSS */
.landingpic{
	height: 100%;
	width: 100%;
}
.ghpic,
.britpic{
	height: 100%;
	width: 100%;
}

#hero,
#questionare,
#manage{
	padding: 40px 100px 40px 100px;
	height: 411px;
}
.hero-container{
	height: 100%;
	display: flex;
}
.hero-container div:first-child{
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.hero-container h1{
	font-family: sans-serif;
	font-size: 50px;
}
.hero-container p{
	font-weight: 100;
	font-size: 20px;
	width: 57%;
}
.hero-container div:first-child a,
.questionare-left a{
	border: 1px solid transparent;
	background-color: hsl(120, 46%, 68%);
	color: #000;
	display: flex;
	align-items: center;
	width: fit-content;
	gap: 10px;
	padding: 10px;
	border-radius: 5px;
}
.hero-container div:first-child a img{
	height: 20px;
}
.hero-container div:last-child{
	flex: 1;
	background-color: red;
}

/* questionare CSS section*/
#questionare{
	height: fit-content;
}
.questionare-container{
	display: flex;
	height: 517px;
	background-color: hsl(0, 0%, 97%);
}
.questionare-left{
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 20px;
}
.questionare-left img{
	height: 40px;
}
.questionare-left h1{
	font-family: sans-serif;
	width: 70%;
	padding-top: 20%;
	font-size: 30px;
	line-height: 50px;
}
.questionare-left h1 span{
	color: orange;
}
.questionare-left p{
	width: 60%;
	padding-top: 20px;
	font-family: sans-serif;
	line-height: 20px;
}
.questionare-left a{
	background-color: orange;
	color: #fff;
	padding: 10px 40px;
}
.questionare-right{
	flex: 1;
	padding: 20px;
}
.questionare-right img{
	height: 100%;
	width: 100%;
}

/* Manage-section css   */
#manage{
	height: 500px;
}
#manage img{
	height: 15px;
}
#manage .brief{
	height: 30px;
}
#manage .ghpic,
#manage .britpic{
	height: 100px;
	width: 100px;
}
.manage-container{
	display: flex;
	height: 100%;
}
.manage-left{
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: space-around;
}
.manage-left h1{
	font-size: 40px;
	font-family: sans-serif;
	width: 70%;
	line-height: 50px;
}
.manage-left h1 span{
	color: rgb(9, 9, 112);
}
.manage-left p{
	font-family: sans-serif;
	width: 60%;
}
.manage-left a{
	background-color: rgb(9, 9, 112);
	color: #fff;
	padding: 10px 40px;
	border-radius: 5px;
	display: flex;
	align-items: center;
}
.manage-right{
	flex: 1;
}
.manage-right .history{
	width: 80%;
	min-width: 300px;
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	height: 100%;
	box-shadow: 0 5px 3px rgba(0, 0, 0, 0.1);
	position: relative;
}
.manage-right .history h1{
	text-align: center;
	font-family: var(--roboto);
	margin-top: 10px;
}
.manage-right .history div{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.manage-right .history div p{
	width: 100%;
	text-align: center;
	font-family: var(--roboto);
	font-size: 15px;
	padding: 0 15px;
}
.manage-right .history .gh{
	position: absolute;
	top: 50px;
	left: -50px;
	width: 70%;
	border-radius: 10px;
	height: 80%;
	background-color: #ABF6D2;
}
.manage-right .history .brit{
	position: absolute;
	top: 70px;
	left: 40%;
	width: 70%;
	border-radius: 10px;
	height: 80%;
	color: #fff;
	background-color: rgb(9, 9, 112);
}

.tryNow{
	margin: 40px auto;
	background-color: rgb(9, 9, 112);
	color: #fff;
	display: flex;
	align-items: center;
	width: fit-content;
	gap: 10px;
	padding: 15px 40px;
	border-radius: 5px;
}
.tryNow img{
	height: 20px;
}

footer{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 40px;
	background-color: rgb(8, 8, 49);
	color: #fff;
}
footer .logo{
	font-family: var(--reem-kufi);
}
footer ul{
	display: flex;
	align-items: center;
}
footer ul li{
	padding-left: 10px; 
}
footer ul li a{
	color: #fff;
}
