.recent-lessons {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(5, 1fr);
  justify-content: space-between;
}

.lesson {
  align-items: flex-end;
  border-radius: 0.4rem;
  display: flex;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  justify-content: flex-end;
  padding: 0.5rem;
  padding-top: 2.9rem;
  cursor: pointer;
}

.french {
  background-color: #1e3a8a;
  color: white;
}
.dsa {
  background-color: #009688;
  color: white;
}
.english {
  background-color: #8d6e63;
  color: white;
}
