.recent-stats {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  justify-content: space-between;
}

.stats-card {
  margin-top: 0.7rem;
  padding-bottom: 0.8rem;
  padding-right: 0.8rem;
  width: 17.6rem;
  height: 12rem;
  border-radius: 0.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-family: "Roboto", sans-serif;
}

.stats-card p {
  font-size: 1.5rem;
}
.stats-card h3 {
  font-size: 4rem;
}

.studied {
  background-color: #5871ff;
  color: white;
}
.time {
  background-color: #9052ff;
  color: white;
}
.accuracy {
  background-color: #ef5350;
  color: white;
}
